langchain
langchain-core
langchain-community
langchain-openai
langchain-mistralai
langchain-text-splitters

openai

tavily-python
python==3.11
beautifulsoup4
requests

python-dotenv

pydantic

lxml

tiktoken

aiohttp

tenacity

faiss-cpu

rich
nest-asyncio

PyPDF2

streamlit==1.37.1

datasets
ragas==0.2.7
